<section class="w-full bg-[#157efb] py-[10px] px-[15px]">
    <div class="flex items-center justify-center gap-x-2 px-[15px] text-[8px] text-white md-top-bar">
        <span class=" bg-white px-2 py-[2px] rounded text-center !text-black font-medium">Special</span>
        <img src="/assets/topbar/heart-emoji.png" alt="heart-emoji" class="size-[15px]">
        <span class="opacity-60">Get</span>
        <span class="-ml-[6px]">20% Discount</span>
        <span class="opacity-60">Get for New Account</span>
        <a href="" class="underline">
            Register Now
        </a>
    </div>
</section>
