<section class="py-[50px] tailwind-container flex flex-col xl:flex-row-reverse xl:*:w-1/2">
    <div class="mb-20 relative">
        <img src="/assets/home-page/customize-circle.png" alt="customize-circle" class="relative right-0 top-[20%] w-full z-[1]">
        <img src="/assets/home-page/customize-visitor-card.png" alt="visitor-card" class=" absolute top-[20%] right-0 z-[3] reasons-dashboard ">
        <img src="/assets/home-page/calender-card.png" alt="calender-card" class="absolute top-[20%] right-0 z-[1] reasons-dashboard">
        <img src="/assets/home-page/customize-item-card.png" alt="items-card" class=" absolute top-[20%] right-0 z-[2] reasons-dashboard">
        <img src="/assets/home-page/customize-chart.png" alt="customize-chart" class="absolute top-[20%] right-0 z-[4] reasons-dashboard">
    </div>
    <div class="flex flex-col">
        <h2 class="text-[30px] tracking-[3px] mb-[20px] font-bold xl:text-[45px]">
            Easy to
            <span class="text-[#157efb] px-[10px] title-underline relative">
                Customizable
            </span>
        </h2>
        <p class="text-[12.5px] text-[#777] leading-[2]">
            Dashboards are meant to be personal tools for website managers and suppliers to enjoy, and are therefore largely modifiable.
        </p>
        <p class="text-[12.5px] text-[#777] leading-[2] mt-5">
            When it comes to customer actions, website administrators can choose the permissions of each supplier, allowing them to limit or empower commerce activity as needed.
        </p>
        <div class="flex gap-x-2 items-center mt-[70px]">
            <div class="max-xl:mb-20 relative ">
                <img src="/assets/home-page/customize-clients.png" alt="customize-clients">
            </div>
            <div>
                <h4 class="text-[#157efb] font-bold">42,500+</h4>
                <p class="text-xs text-[#777] leading-[2]">Marketplace Owners Trust Us</p>
            </div>
        </div>
    </div>
</section>