<section class="w-full flex flex-col items-center pt-10 tailwind-container ">
    <div class="text-center mb-10">
        <h2 class="text-[30px] tracking-[3px] mb-[20px] font-bold xl:text-[45px]">
            Top 
            <span class="text-[#157efb] px-[10px] title-underline relative">
                Reasons
            </span>
        </h2>
        <p class="text-[15px] text-[#666]">
            Unify your business data in one simple ecommerce dashboard
        </p>
    </div>
    <div class="flex flex-col w-full items-start rounded-[20px] border border-solid border-[#9993] py-5 *:p-[30px] *:text-nowrap *:gap-x-[25px] xl:flex-row">
        <div class="w-full flex items-center justify-start">
            <div class="">
                <img src="/assets/home-page/code3d.png" alt="3d-code" class="scale-animation">
            </div>
            <span class="text-[20px] font-bold">Front-End Friendly</span>
        </div>
        <div class="w-full flex items-center ">
            <div class="">
                <img src="/assets/home-page/message3d.png" alt="3d-message" class="scale-animation">
            </div>
            <span class="text-[20px] font-bold">Affordable Price</span>
        </div>
        <div class="w-full flex items-center ">
            <div class="">
                <img src="/assets/home-page/price3d.png" alt="3d-price" class="scale-animation">
            </div>
            <span class="text-[20px] font-bold">Affordable Quality</span>
        </div>
    </div>
    <div class="flex flex-col xl:flex-row-reverse xl:*:w-1/2 xl:items-center xl:pt-[100px]">
        <div class="px-[15px] w-full mb-20 pt-[70px] mx-auto">
            <div class="relative">
                <img src="/assets/home-page/reasons-rays.png" alt="light-rays" class="front-rays-animation absolute right-[50px] top-[20%] z-[1]">
                <img src="/assets/home-page/reasons-dashboard.png" alt="dashboard" class="reasons-dashboard relative z-[2] top-[50px]">
                <img src="/assets/home-page/reasons-price-card.png" alt="price-card" class="reasons-dashboard absolute right-0 top-0 z-[3]">
                <img src="/assets/home-page/reasons-chart.png" alt="chart" class="reasons-dashboard absolute right-0 top-0 z-[2]">
                <img src="/assets/home-page/reasons-rays.png" alt="light-rays" class="front-rays-animation absolute left-0 top-0 xl:w-[30rem]">
            </div>
        </div>
        <div class="flex flex-col items-start">
            <h2 class="text-[30px] mb-[30px] tracking-[3px] font-bold xl:text-[45px]">
                Optimized User
                <span class="text-[#157efb] px-[10px] title-underline relative">Experiences</span>
            </h2>
            <p class="text-[12.5px] text-[#777] leading-[2]">
                The uploading and updating processes made by suppliers can be streamlined through front-end dashboards that create better ease of access.
            </p>
            <div class="flex flex-col mt-[35px] exp-card-a w-full">
                <a>
                    Sales Breakdown & Funnel
                </a>
                <a>
                    Abadoned Carts
                </a>
                <a>
                    Revenue by Channel & Devices
                </a>
                <a>
                    Sales Forecast
                </a>
            </div>
    
        </div>
    </div>
</section>