<section class="w-full flex flex-col items-center pt-10 tailwind-container">
    <div class="text-center mb-10">
        <h2 class="text-[30px] tracking-[3px] mb-[20px] font-bold">
            Top 
            <span class="text-[#157efb] px-[10px] title-underline relative">
                Reasons
            </span>
        </h2>
        <p class="text-[15px] text-[#666]">
            Unify your business data in one simple ecommerce dashboard
        </p>
    </div>
    <div class="flex flex-col rounded-[20px] border border-solid border-[#9993] py-5">
        <div class="w-full p-[30px] flex items-center justify-start gap-x-8">
            <div class="">
                <img src="/assets/home-page/code3d.png" alt="3d-code" class="scale-animation">
            </div>
            <span class="text-[20px] font-bold">Front-End Friendly</span>
        </div>
        <div class="w-full p-[30px] flex items-center gap-x-4">
            <div class="">
                <img src="/assets/home-page/message3d.png" alt="3d-message" class="scale-animation">
            </div>
            <span class="text-[20px] font-bold">Affordable Price</span>
        </div>
        <div class="w-full p-[30px] flex items-center gap-x-4">
            <div class="">
                <img src="/assets/home-page/price3d.png" alt="3d-price" class="scale-animation">
            </div>
            <span class="text-[20px] font-bold">Affordable Quality</span>
        </div>
    </div>
</section>