<section class="py-[70px] tailwind-container">
    <div class="text-center">
        <h2 class="text-[28px] xl:text-[50px] font-bold text-[#212529] tracking-wide break-words xl:px-[10rem]">
            Manage your ecommerce business better with an all-in-one
            <span class="relative">
                dashboard today
                <img src="/assets/home-page/hero-section-line.png" alt="pencil-line" class="absolute bottom-[-24px] left-0">
                <img src="/assets/home-page/pencil-icon.png" alt="pencil-icon" class="absolute bottom-[-24px] right-[102%] rotate-[270deg]">
            </span>
        </h2>
    </div>

    <div class="mt-[70px] flex flex-col gap-4 items-center xl:flex-row justify-center">
        <a class="py-[10px] px-[25px] bg-[#157efb] text-xs text-white rounded-full font-bold demo-book-btn  text-center flex gap-x-3 items-center">
            <span>Download for Mac OS</span>
            <span>
                <i class="fa-brands fa-apple text-white"></i>
            </span>
        </a>
        <a class="py-[10px] px-[25px] bg-[#157efb] text-xs text-white rounded-full font-bold demo-book-btn  text-center flex gap-x-3 items-center">
            <span>Download for Windows</span>
            <span>
                <i class="fa-brands fa-windows text-white"></i>
            </span>
        </a>
    </div>
</section>