<section class="pb-[100px]">
    <div class="mb-10 text-center">
        <h2 class="text-[30px] tracking-[3px] mb-[20px] font-bold xl:text-[45px]">
            Trusted By Thoudsands
            <span class="text-[#157efb] px-[10px] title-underline relative">
                Business
            </span>
        </h2>
        <p class="text-[15px] text-[#666] leading-[1.7]">
            More than 15,000 companies trust and choose Iteck
        </p>
    </div>
    <div>
        
    </div>
</section>