.front-rays-animation{
    animation: rotate-center 20s linear infinite both reverse;
}
@keyframes rotate-center {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
.reasons-dashboard{
    animation: slide_up_down 3s ease-in-out infinite alternate both;
}
@keyframes slide_up_down {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-20px);
    }
}

.demo-book-btn{
    box-shadow: 0px 4px 0px 0px #5842bc;
    filter: drop-shadow(0 13px 20px #07397235);
}
.title-underline::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: #157efb;
    opacity: 8%;
}