<section class="py-[50px] tailwind-container flex flex-col xl:flex-row xl:*:w-1/2">
    <div class="mb-20 relative">
        <img src="/assets/home-page/payment-circle.png" alt="payment-circle" class="absolute right-0 top-0 w-full front-rays-animation z-[1]">
        <img src="/assets/home-page/payment-methods.png" alt="payment-methods" class="reasons-dashboard relative z-[2]">
    </div>
    <div class="flex flex-col">
        <h2 class="text-[30px] tracking-[3px] mb-[20px] font-bold xl:text-[45px]">
            100+ Payment
            <span class="text-[#157efb] px-[10px] title-underline relative">
                Gateways
            </span>
        </h2>
        <p class="text-[12.5px] text-[#777] leading-[2]">With Iteck Marketplace, choose from hundreds of payment gateways for your customers. From PayPal to Stripe to Skrill, Visa Debit, Master Card, etc</p>
        <ul class="mt-10 flex flex-col justify-start gap-y-[15px]">
            <li class="flex items-center gap-x-[15px]">
                <i class="fa-solid fa-circle-check fa-lg text-[#157efb]"></i>
                <h6 class="text-[15px] font-bold">100% Guarantee Secure Payment</h6>
            </li>
            <li class="flex items-center gap-x-[15px]">
                <i class="fa-solid fa-circle-check fa-lg text-[#157efb]"></i>
                <h6 class="text-[15px] font-bold">1% Extra Fees For All</h6>
            </li>
            <li class="flex items-center gap-x-[15px]">
                <i class="fa-solid fa-circle-check fa-lg text-[#157efb]"></i>
                <h6 class="text-[15px] font-bold">Support Dispute & Refund 24/7</h6>
            </li>
        </ul>
        <a class="py-[10px] px-[25px] bg-[#157efb] text-xs text-white rounded-full mt-14 font-bold demo-book-btn w-1/2 text-center">
            <span>Book A Free Demo</span>
        </a>
    </div>
</section>