<section class="py-[70px] bg-[#f3f7fe] tailwind-container">
    <div class="mb-10 text-center">
        <h2 class="text-[30px] tracking-[3px] mb-[20px] font-bold xl:text-[45px]">
            Clients
            <span class="text-[#157efb] px-[10px] title-underline relative">
                Reviews
            </span>
        </h2>
        <p class="text-[15px] text-[#666] leading-[1.7]">
            Iteck loved from thoudsands customer worldwide and get trusted from big companies.
        </p>
    </div>
    <div>
        <swiper-container pagination="true" init="false" class="pb-[70px] mySwiper" [config]="config" #mySwiper>
            @for (item of testinmonialsArr; track $index) {
                <swiper-slide>
                    <div class="py-[40px] px-[30px] bg-[white] rounded-[15px] text-center flex flex-col justify-center items-center xl:w-[90%] xl:h-[60vh]">
                        <div class="flex items-center gap-x-1 ">
                            @for (item of [].constructor(item.starNo); track $index) {
                                <i class="fa-solid fa-star text-[#27a700]"></i>
                            }
                        </div>
                        <h3 class="mt-[15px] leading-[1.6]">
                            {{item.reviewMsg}}
                        </h3>
                        <div class="mt-[40px] text-center">
                            <div class="size-[80px] rounded-[50%] mx-auto overflow-hidden">
                                <img [src]="item.clientImg" alt="client-image" class="size-full object-cover">
                            </div>
                           <h2 class="mt-[15px] text-sm font-bold">{{item.clientName}}</h2>
                           <span class="text-[11px] text-[#666]">{{item.clientRole}}</span>
                        </div>
                    </div>
                </swiper-slide>
            }
        </swiper-container>
    </div>
</section>