<section class="w-full flex flex-col justify-center pt-[60px] pb-[80px] gradient-bg px-[15px] relative">
    <div class="tailwind-container xl:w-1/2 text-center flex flex-col items-center">
        <h1 class="text-[60px] font-bold leading-[1.2] tracking-[-2px]">
            All-in-one dashboard for
            <span class="relative">
                eCommerce
                <img src="/assets/home-page/hero-section-line.png" alt="hero-line" class="absolute left-0 bottom-[-5px] w-full">
                <img src="/assets/home-page/pencil-icon.png" alt="pencil-icon" class="absolute left-[102%] bottom-[-5px]">
            </span>
        </h1>
        <p class="text-[15px] text-[#666] mt-[30px]">
            Iteck helps you unify your brand identity by collecting, storing and distributing
            <br>
            design tokens and assets — automatically.
        </p>
        <form>
            <div class="my-10 max-w-[500px] relative">
                <span class="absolute left-[25px] bottom-[13px] text-lg">
                    <i class="fa-regular fa-envelope"></i>
                </span>
                <input type="text" class="w-full py-4 pr-[180px] pl-[60px] bg-white border border-[#ccc] border-solid rounded-[30px] !outline-none focus:outline-none" placeholder="Your email address">
                <a class="absolute right-2 top-[7px] py-[10px] px-[25px] bg-[#157efb] text-white rounded-[50px] font-bold">
                    <span class="text-xs">
                        Start Free Trial 
                        <i class="fa-solid fa-arrow-right" class="ml-1"></i>
                    </span>
                </a>
            </div>
        </form>
    </div>
    <div class="tailwind-container mt-[85px] flex flex-col items-center relative">
        <img src="/assets/home-page/dashboard-img.png" alt="dashboard" class="shadow-[0px_-13px_124px_0px_rgba(75,83,97,0.15)] rounded-[15px] relative z-[1] ">
        <img src="/assets/home-page/chart-icon.png" alt="chart-icon" class="absolute top-[8%] right-[7%] w-1/2 chart-animation z-[2] xl:w-[30%] xl:right-[25%]">
        <img src="/assets/home-page/circle-chart.png" alt="circle-chart" class="absolute bottom-[10%] right-[10%] w-[15%] cricle-chart-styles z-[2] xl:right-[25%] xl:w-[10%]">
    </div>
    <img src="/assets/home-page/hand-with-bag.png" alt="hand-with-bag" class="absolute left-0 bottom-0 w-[30%] hand-animations z-[15]">
    <img src="/assets/home-page/hand-with-card.png" alt="hand-with-card" class="absolute right-0 bottom-0 w-[40%] hand-animations z-[0]">
</section>