<section class="pt-[100px] border-t border-t-[#0002] border-solid">
    <div class="flex max-md:flex-col gap-4 md:gap-8 justify-between tailwind-container md:flex-wrap md:*:w-[45%] xl:*:w-[20%]">
        <div class="">
            <h1 class="mb-5 text-lg font-bold">
                Iteck - 1st eCommerce Dashboard
            </h1>
            <p class="text-xs leading-[2] text-[#212529]">
                Over 25 years working in IT services developing software applications and mobile apps for clients all over the world. For your very specific industry, 
            </p>
            <div class="mt-[30px] flex items-center gap-x-2 social-links">
                <a >
                    <i class="fa-brands fa-x-twitter text-[#666]"></i>
                </a>
                <a >
                    <i class="fa-brands fa-facebook-f text-[#666]"></i>
                </a>
                <a >
                    <i class="fa-brands fa-instagram text-[#666]"></i>
                </a>
            </div>
        </div>
        <div class="*:text-[#212529] flex flex-col">
            <h2 class="text-lg font-bold mb-5">Information</h2>
            <small>223 Thatcher Road St, Brookly,</small>
            <br>
            <small class="mb-[10px]">
                Manhattan, NY 10463, US
            </small>
            <small class="mb-[10px]">
                +031 5689 89 98
            </small>
            <small>
                contactItecksolution.co
            </small>
        </div>
        <div class="*:text-[#212529] flex flex-col">
            <h2 class="text-lg font-bold mb-5">Useful Links</h2>
            <small class="mb-[10px]">Home</small>
            <small class="mb-[10px]">
                About iteck
            </small>
            <small class="mb-[10px]">
                Projects
            </small>
            <small class="mb-[10px]">
                Products
            </small>
            <small class="mb-[10px]">
                Blog
            </small>
            <small class="mb-[10px]">
                Contact
            </small>
        </div>
        <div class="*:text-[#212529] flex flex-col">
            <h2 class="text-lg font-bold mb-5">Resource</h2>
            <small class="mb-[10px]">Online Documentation</small>
            <small class="mb-[10px]">
                Roadmap
            </small>
            <small class="mb-[10px]">
                Integrations
            </small>
            <small class="mb-[10px]">
                FAQs
            </small>
            <small class="mb-[10px]">
                Help Center
            </small>
        </div>
    </div>
    <div class="py-[35px] tailwind-container">
        <div class="mb-[20px] w-[120px] overflow-hidden">
            <img src="/assets/header/main-logo.png" alt="main-logo">
        </div>
        <small class="text-[13px] text-[#212529]">
            © 2023 Copyrights by <a class="underline font-bold">Iteck Co.</a> All Rights Reserved. Designed by <a class="underline font-bold">ThemesCamp</a>
        </small>
        
    </div>
</section>